//  paleta de colores
$color-primary: #5eff00;
$color-dark: #242424;
$color-white: #fff;
$color-light: #f7f7f7f7;
$color-light2: #aaaaa8;
$color-gradient-primary: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8fa0e7, #83a5eb, #77abee, #69aef3, #57b1f8, #3eb4fc, #00b7ff);
$color-success: #07bc0c;
$color-warning: #f1c40f;
$color-error: #e74c3c;


$color-circulo-cant-carrito: #d80e0e;